:root {
    --primary: #124a8b;
    --secondary: #21511f;
    --dark: #212121;
    --light: #f3f3f3;
}

body {
    background-image: linear-gradient(to bottom left, var(--primary) 10%, var(--secondary) 115%);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

p {
    padding: 8px;
}